body {
    font-family:  'Open Sans', sans-serif;
    font-size: 18px;
    
    margin: 0px;
    /* width: 100%;
    max-width: 1440px; */
}
.container {
    display: flex;
    flex-direction: row;
    padding: 20px 50px ;
    /* align-content: center; */
    justify-items: center;
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* Header */

.logo {
    display: flex;
    flex-direction: row;
    padding: 20px 50px ;
    padding-top: 40px;
    justify-content: space-between;
}

.nav-btn {
    padding: 12px 30px;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 0px;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}
.nav-btn:hover {
    background-color:hsl(192, 100%, 9%);
    color: white;
}
.header {
    background-image: url('images/bg-hero-desktop.svg');
    /* height: 100vh; */
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 80px;
}

.description {
    width: 80%;
    align-self: center;
    padding-right: 40px;
}
.get {
    width: 50%;
    padding: 15px;
    border-radius: 50px;
    border: 0px;
    color: white;
    background-color: hsl(322, 100%, 66%);
}
.get:hover{
    background-color: hsl(322, 74%, 45%);
}

.flex-card {
    width: 75%;
    padding: 50px;
    /* height: 40vh; */
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
}
.flex-card-desc p {
    color: hsl(208, 11%, 55%);
}
.flex-card-desc {
    align-self: center;
}
.flex-card:nth-child(even){
    flex-direction: row-reverse;
}

.flex-card-small {
    position: relative;
    top: 100px;
    width: 45%;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
}

/* Footer */
.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 20px 80px;
}
.footer-logo {
    padding-top: 80px;
    color: white;
    filter: brightness(0) invert(1);
}
.footer-content {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 30px; */
}
.footer-content a {
    text-decoration: none;
    color: white;
}
.footer-content a:hover {
    color: hsl(322, 100%, 66%);
}
.col:first-child{
    width: 350px;
}
.col {
    width: 200px;
}
.table {
    display: table;
}
.col .row {
    display: table-row;
}
.col .cell {
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px;
}

.social {
    justify-self: baseline;
}
.social a{
   /* background-color: white; */
   width: 40px;
   text-align: center;
   border: 1px solid white; 
   border-radius: 50%;
   padding: 10px;
   margin-right: 10px;
}
.copyright {
    color: white;
    text-align: right;
}
.copyright a{
    color: hsl(322, 100%, 66%) ;
}

/* media queries */
@media (max-width: 768px){
    .container {
        flex-wrap: wrap;
        padding: 20px ;
        justify-content: center;
        /* align-content: stretch; */
        text-align: center;
    }
    .header {
        background-image: url('images/bg-hero-mobile.svg');
        /* height: 100vh; */
        background-color: hsl(193, 100%, 96%);
        margin-bottom: 80px;
    }
    .header-content .description {
        margin-bottom: 50px;
    }
    .header-content .image {
        width: 80% ;
    }
    .flex-card {
        flex-wrap: wrap-reverse;
        width: 65%;
        padding: 50px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    }
    .flex-card-desc {
        margin-top: 30px;
    }
    .flex-card-small {
        position: relative;
        top: 100px;
        width: 70%;
        padding: 20px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    }
    .footer {
        background-color: hsl(192, 100%, 9%);
        padding: 20px 40px;
    }
    .footer-logo {
        padding-top: 100px;
    }
    .footer-content {
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* padding-left: 30px; */
    }
    .col:first-child {
        width: 50%;
    }
    .col {
        width: 60%;
    }
    .social {
        text-align: center;
        margin: auto;
    }
    
    .copyright {
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 375px){
    .nav-btn {
        padding: 5px 8px;
    }
    .header-logo {
        width: 40%;
    }
    .get {
        width: 80%;
    }    
    .col:first-child {
        width: 280px;
    } 

}
