body {
    font-family: "https://fonts.google.com/specimen/Open+Sans" ;
    font-size: 18px;
    
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 20px 50px ;
    /* align-content: center; */
    justify-items: center;
}
h1, h2, h3, h4 {
    font-family: "https://fonts.google.com/specimen/Poppins";
    font-weight: 600;
    line-height: 35px;
}

button {
    font-family: "https://fonts.google.com/specimen/Open+Sans";
    font-weight: 700;
}
/* Header */
.logo {
    padding-top: 40px;
}
.logo-btn {
    margin-left: auto;
}
.nav-btn {
    padding: 12px 25px;
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 0px;
}
.header {
    background-image: url('images/bg-hero-desktop.svg');
    /* height: 100vh; */
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 80px;
}

.header-content {
    margin-top: ;
}
.description {
    width: 80%;
    align-self: center;
    padding-right: 40px;
}
.get {
    width: 50%;
    padding: 15px;
    border-radius: 50px;
    border: 0px;
    color: white;
    background-color: hsl(322, 100%, 66%);
}

/* Content */
.content {

}
.flex-card {
    width: 75%;
    padding: 50px;
    /* height: 40vh; */
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
}
.flex-card-desc p {
    color: hsl(208, 11%, 55%);
}
.flex-card-desc {
    align-self: center;
}
.flex-card:nth-child(even){
    flex-direction: row-reverse;
}

.flex-card-small {
    position: relative;
    top: 100px;
    width: 45%;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
}

/* Footer */
.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 20px 80px;
}
.footer-logo {
    padding-top: 80px;
}
.footer-logo img {
    /* color: transparent;
    background-color: transparent; */
    mix-blend-mode: screen;
}
.footer-content {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 30px; */
}
.col:first-child{
    width: 350px;
}
.col {
    width: 200px;
}
.table {
    display: table;
}
.col .row {
    display: table-row;
}
.col .cell {
    display: table-cell;
    vertical-align: top;
    padding: 10px 5px;
}

.social {
    justify-self: baseline;
}
.social img{
   background-color: white;
   text-align: center;
   width: 20px;
   border: 1px solid white; 
   border-radius: 50%;
   padding: 2px;
}
.copyright {
    color: white;
    text-align: right;
}

/* media queries */
@media (max-width: 600px){
    .container {
        flex-wrap: wrap;
        padding: 20px ;
        justify-content: center;
        /* align-content: stretch; */
        text-align: center;
    }
    .header {
        background-image: url('images/bg-hero-mobile.svg');
        /* height: 100vh; */
        background-color: hsl(193, 100%, 96%);
        margin-bottom: 80px;
    }
    .header-logo {
        width: 80%;
    }
    .header-content .description {
        margin-bottom: 50px;
    }
    .header-content .image {
        width: 80% ;
    }
    .flex-card {
        flex-wrap: wrap-reverse;
        width: 65%;
        padding: 50px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    }
    .flex-card-desc {
        margin-top: 30px;
    }
    .flex-card-small {
        position: relative;
        top: 100px;
        width: 70%;
        padding: 20px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 7px -4px rgba(0,0,0,0.75);
    }
    .footer {
        background-color: hsl(192, 100%, 9%);
        padding: 20px 40px;
    }
    .footer-logo {
        padding-top: 100px;
    }
    .footer-content {
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: ;
        /* padding-left: 30px; */
    }
    .col {
        width: 70%;
    }
    .social {
        text-align: center;
        margin: auto;

    }
    
    .copyright {
        text-align: center;
    }
}
